*.pyc
*/local_*
/static/
.coverage
/htmlcov/
/media/
/node_modules/
/segurospromo/static/dist/
/segurospromo/log/
*.pkl
*.sublime-*
*_prod.*
test_err
test_log
id_rsa*
/dumps/
/docker/dump.sql
/ghostdriver.log
.vscode
.venv*
*.log
tags
*.sql.gz
**/node_modules/**
/tmp
/log
deploy/config/values-local.yaml
local.env
.env
